.background {
      background-image: url("../imagens/fundo.gif");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
  }
