* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}
.section {
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: #2c2c2c 5px;
    margin-left: 15px;
}
.section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.add-buttons {
    margin-bottom: 10px;
}
  
.add {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.add a {
    text-decoration: none;
    color: #fff;
}


.timeline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.timeline-event {
    flex-basis: 23%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.timeline-event h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.timeline-event p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.timeline-event button {
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}
.timeline-event a {
    text-decoration: none;
    color: #fff;
}
.timeline-event button:hover {
    background-color: #2c2c2c;
}
@media only screen and (max-width: 768px) {
    .timeline-event {
        flex-basis: 100%;
    }
}