  .cadastro-box {
    width: 450px;
    height: 500px;
    background-color: #000;
    color: #fff;
    top: 50%;
    left: 53%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
  }
  
  h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
  }
  
  .form-box {
    position: relative;
    margin-bottom: 25px;
  }
  
  .form-box input[type="text"], 
  .form-box input[type="file"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
  }
  
  .form-box label {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
  }
  
  .form-box input[type="text"]:focus ~ label,
  .form-box input[type="text"]:valid ~ label,
  .form-box input[type="file"]:focus ~ label,
  .form-box input[type="file"]:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  
  input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #2c2c2c;
    color: #fff;
  }
  